main > .container {
   padding-top: 60px;
}

.bg-custom {
   background-color: silver;
   color: black !important;
}

footer p {
   margin-bottom: 0;
   color: black;
}

.hero img {
   max-width: 30%;
   height: auto;
}

@media screen and (max-width: 767px) {
   div.hero {
      padding-bottom: 0 !important;
   }
}

.show-records hr {
   width: 37%;
}

.show-records p.records-subtitle {
   font-size: 14px;
}

.tab-header {
   padding: 1.5rem;
   border-width: 1px;
   border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem;
   position: relative;
   /* margin: 1rem -0.75rem 0; */
   /* T RL B */
   border: solid #dee2e6;
}

.highlight {
   padding-top: 1rem;
   background-color: #f8f9fa;
}
